SKAUTIntgration/Connected Services/FuelFlow/SpicFuelFlowStatisticsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SpicFuelFlowStatisticsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://178.63.30.148:8081/spic/FuelFlow/soap?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://178.63.30.148:8081/spic/FuelFlow/soap?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://178.63.30.148:8081/spic/FuelFlow/soap?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Controller" />
      <xsd:import schemaLocation="http://178.63.30.148:8081/spic/FuelFlow/soap?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.Concrete" />
      <xsd:import schemaLocation="http://178.63.30.148:8081/spic/FuelFlow/soap?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Infrastructure.Data" />
      <xsd:import schemaLocation="http://178.63.30.148:8081/spic/FuelFlow/soap?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Scout.Plugins.Spic.Server.Statistics.FuelFlowStat" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISpicSoapFuelFlowStatisticsService_AddStatisticsRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStatisticsRequest" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapFuelFlowStatisticsService_AddStatisticsRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatisticsRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapFuelFlowStatisticsService_GetStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatistics" />
  </wsdl:message>
  <wsdl:message name="ISpicSoapFuelFlowStatisticsService_GetStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatisticsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISpicSoapFuelFlowStatisticsService">
    <wsdl:operation name="AddStatisticsRequest">
      <wsdl:input wsam:Action="http://tempuri.org/ISpicSoapFuelFlowStatisticsService/AddStatisticsRequest" message="tns:ISpicSoapFuelFlowStatisticsService_AddStatisticsRequest_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpicSoapFuelFlowStatisticsService/AddStatisticsRequestResponse" message="tns:ISpicSoapFuelFlowStatisticsService_AddStatisticsRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <wsdl:input wsam:Action="http://tempuri.org/ISpicSoapFuelFlowStatisticsService/GetStatistics" message="tns:ISpicSoapFuelFlowStatisticsService_GetStatistics_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ISpicSoapFuelFlowStatisticsService/GetStatisticsResponse" message="tns:ISpicSoapFuelFlowStatisticsService_GetStatistics_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISpicSoapFuelFlowStatisticsService" type="tns:ISpicSoapFuelFlowStatisticsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddStatisticsRequest">
      <soap:operation soapAction="http://tempuri.org/ISpicSoapFuelFlowStatisticsService/AddStatisticsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatistics">
      <soap:operation soapAction="http://tempuri.org/ISpicSoapFuelFlowStatisticsService/GetStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpicFuelFlowStatisticsService">
    <wsdl:port name="BasicHttpBinding_ISpicSoapFuelFlowStatisticsService" binding="tns:BasicHttpBinding_ISpicSoapFuelFlowStatisticsService">
      <soap:address location="http://178.63.30.148:8081/spic/FuelFlow/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>